@import 'shared/styles/baseStyles.scss';

.header{
    height: 60px;

    .imageWrapper{
        height: 100%;

        img {
            height: 100%;
            width: auto;
        }
    }

    .headerButtonWrapper {
        display: flex;
        align-items: center;

        .headerButton{
            width: 70px;
            cursor: pointer;
            font-family: 'PoppinsMedium';
            font-size: 16px;
            font-weight: bold;
            margin-left: 80px;
            color: $main_blue;

            &:hover {
                font-size: 18px;
                opacity: 0.8;
            }
        }
    }
}